/* Anatomia */

h1 {
    color: blue;
    font-size: 60px;
    background-color: gray;
}

/*
    Selector -> h1 {...};
    Declaration:
        - Properties -> color;
        - Property Value -> blue;
*/